<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
<!-- 定义数据源的信息 --> 
<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
        destroy-method="close">
	<property name="driverClass">  
		<value>com.mysql.jdbc.Driver</value>
    </property>  
    <property name="jdbcUrl">  
    	<value>jdbc:mysql://127.0.0.1/p2p</value>  
    </property>  
    <property name="user">  
    	<value>root</value>
    </property>  
    <property name="password">  
    	<value>123456</value>  
    </property>
    <property name="maxPoolSize">  
    	<value>80</value>  
    </property>  
    <property name="minPoolSize">  
    	<value>1</value>  
    </property>  
    <property name="initialPoolSize">  
    	<value>1</value>  
    </property>  
    <property name="maxIdleTime">  
    	<value>20</value>  
    </property>
</bean>

<bean id="sessionFactory"  
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	<property name="dataSource">
		<ref local="dataSource" />
	</property>
	<property name="mappingResources">  
		<list>  
			<value>com/p2p/beans/sysadmin.hbm.xml</value>  
		</list>  
	</property>
	<property name="hibernateProperties">  
		<props>  
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>  
			<prop key="show_sql">true</prop>  
			<prop key="hibernate.jdbc.batch_size">20</prop>  
		</props>  
	</property> 
</bean>

<!-- 验证码的Action -->  
<bean id="securityAction" class="com.p2p.action.SecurityCodeImageAction" >
</bean>


<bean id="transactionManager"  
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
	<property name="sessionFactory" ref="sessionFactory" />  
</bean>  

<bean id="sysadminDao" class="com.p2p.daoImpl.SysAdminDaoImpl">
	<property name="sessionFactory">
		<ref bean="sessionFactory"/>
	</property>
</bean>

<bean id="sysadminService" class="com.p2p.serviceImpl.SysAdminServiceImpl">
	<property name="adminservice">
		<ref bean="sysadminDao"/>
	</property>
</bean>

<bean id="loginAction" class="com.p2p.action.LoginAction">
	<property name="sysadminService">
		<ref bean="sysadminService"/>
	</property>
</bean>


</beans>